name: GitHub Metrics - Comment Reactions

on:
  schedule:
    - cron: "0 * * * *"  
  workflow_dispatch:

permissions:
  contents: write  

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate Comment Reactions Metrics
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.reactions.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: "" 
          plugin_reactions: yes
          plugin_reactions_limit: 100
          plugin_reactions_details: percentage
